# --- Python garbage ---
__pycache__/
Dane/
*.py[cod]
*$py.class
.vscode/
.DS_Store

# --- Big Files & Binaries ---
*.exe
*.bin
*.mp4
*.txt

# --- Ignored Local Files ---
test_files/
versions/
test.txt
Backup.sh
*.sh